 <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Home Page";
}

<body>
  <div class="container">
    <div class="welcome-message">
      <h1>Welcome to KhumaloCraft Emporium</h1>
      <p>Discover exquisite handcrafted products from artisans around the world.His dream involves connecting artisans 
worldwide with a discerning audience.</p>
<h2>Our Story</h2>
<p>At KhumaloCraft Emporium, we believe in the power of handcrafted artistry to tell stories, connect cultures, and enrich lives. Our founder, James Khumalo, envisioned a global e-commerce platform where talented artisans could share their creations with the world while receiving fair compensation and recognition. With a discerning audience in mind, we set out to create a space that celebrates craftsmanship and fosters connections.
</p>
<h3>HERE ARE SOME OF OUR TOP SELLERS</h3>
    </div>
    
		   <a class="navbar" asp-area="" asp-controller="Home" asp-action="MyWork">Expore Our Work</a>
		<article>

		<img src="/NewFolder/vas.jpeg" alt="Our Story Image" class="section-image">

		<div class=" craftwork">


			<p>
			<ul>


				<li>CLAY CRAFT</li>
					<li>Every piece bears the unique imprint of the artist's creativity, expressing their skill and imagination. Whether it's delicate pottery or intricate sculptures, clay craftsmanship reveals the enduring allure of this adaptable material.</li>

					<li>R8 000</li>
					<li>
						<button type="button">Browse</button>


					</li>

			</ul>



			</p>

		</div>



	</article>


	<article>

		<img src="/NewFolder/papercraft.jpeg" alt="papercraft" class="section-image">

		<div class=" craftwork">


			<p>
				<ul>


					<li>PAPERCRAFT</li>

					<li>Papercraft is the art of transforming paper into various creations through cutting, folding, and shaping techniques. From intricate models to elaborate decorations, papercraft showcases the versatility and creativity achievable with this simple yet versatile medium.</li>
					<li>R200</li>
					<li>
						<button type="button">Browse</button>



					</li>

				</ul>

			</p>

		</div>



	</article>
      
    
    </body>