 <link rel="stylesheet" href="~/css/MyWork.css" asp-append-version="true" />
@{
    ViewData["Title"] = "My Work";
}
<h1>@ViewData["Title"]</h1>

<header1>We are inspired to help grow these artiscians globally </header1>

<main class="grid-container">






	<article>

		<img src="/NewFolder/vas.jpeg" alt="Our Story Image" class="section-image">

		<div class=" craftwork">


			<p>
			<ul>


				<li>CLAY CRAFT</li>
					<li>Every piece bears the unique imprint of the artist's creativity, expressing their skill and imagination. Whether it's delicate pottery or intricate sculptures, clay craftsmanship reveals the enduring allure of this adaptable material.</li>

					<li>R8 000</li>
					<li>
						<button type="button">Browse</button>

						
					</li>

			</ul>



			</p>

		</div>



	</article>


	<article>

		<img src="/NewFolder/papercraft.jpeg" alt="papercraft" class="section-image">

		<div class=" craftwork">


			<p>
				<ul>


					<li>PAPERCRAFT</li>

					<li>Papercraft is the art of transforming paper into various creations through cutting, folding, and shaping techniques. From intricate models to elaborate decorations, papercraft showcases the versatility and creativity achievable with this simple yet versatile medium.</li>
					<li>R200</li>
					<li>
						<button type="button">Browse</button>
							

						
					</li>

				</ul>

			</p>

		</div>



	</article>

	<article>

		<img src="/NewFolder/woodcraft.jpeg" alt="Our Story Image" class="section-image">

		<div class=" craftwork">


			<p>
				<ul>


					<li>WOODCRAFT</li>

					<li>Woodcraft encompasses the skilled manipulation of wood to create a wide range of objects, from functional furniture to intricate sculptures. It celebrates the natural beauty and versatility of wood, showcasing craftsmanship through precise cutting, carving, and joinery techniques. Each piece reflects the artisan's dedication, creativity, and respect for the timeless material.</li>

						<li>R3 000</li>
					<li>
						<button type="button">Browse</button>

						
					</li>

				</ul>



			</p>

		</div>



	</article>

	<article>

		<img src="/NewFolder/bamboocraft.jpeg" alt="Our Story Image" class="section-image">

		<div class=" craftwork">


			<p>
				<ul>


					<li>BAMBOO CRAFT</li>

					<li>Bamboo craft is the art of harnessing the natural strength and flexibility of bamboo to create various items. From household objects to intricate artworks, bamboo craft showcases the versatility of this sustainable material. Through weaving, shaping, and carving techniques, artisans transform bamboo into elegant and functional pieces that reflect both tradition and innovation.</li>
					<li>R800</li>
					<li>
						
						<button type="button">Browse</button>
						
					</li>

				</ul>



			</p>

		</div>



	</article>


</main>